@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@800&family=Josefin+Sans:wght@100&family=Kumbh+Sans:wght@400;700&family=Montserrat:wght@300;400;500&family=Nova+Round&family=Open+Sans:ital,wght@0,300;0,500;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

//--color variable--//
$Orange: #FF7D1A;
$Orange_Alpha: rgba(255, 125, 26, 1);
$Pale_Orange: #FFEDE0;
$Black: #1D2025;
$Deep_Grey_Blue: #68707D;
$Grey_Blue: #B6BCC8;
$Light_Grey_Blue: #F7F8FD;
$White: #FFFFFF;
$Black_Alpha: rgba(0,0,0,0.75);

//--dimension spacing--//
$ZeroPX: 0;
$TenPX: 10px;
$TwentyPX: 20px;

//--weights--//
$RegularEM: 1em;
$MediumEM: 0.8em;
$SmallEM: 0.7em;